<h1><%= @lesson.name %></h1>

<p><%= @lesson.description %></p>


<p><%= link_to 'Back to Section', :back %></p>

<p><a href="/lessons/<%= @lesson.id %>/edit">Edit</a></p>
<p><a href="/lessons/<%= @lesson.id %>"
      data-confirm="You sure?"
      data-method="delete"
      rel="nofollow">Delete</a></p>

<% if @next != nil %>
<p><a href="/lessons/<%= @next.id %>">Next Lesson</a></p>
<% end %>


<% if @prev != nil %>
<p><a href="/lessons/<%= @prev.id %>">Prev Lesson</a></p>
<% end %>

